<div class="row grid">
  <div class="col-lg-2">
    <%= link_to 'Добавить задачу', new_task_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="row">
<div class="col-lg-3">
  <div class="panel panel-danger">
    <div class="panel-heading">Просроченные задачи</div>
    <ul class="list-group">
        <% @list_days[3].each do |item| %>
            <li class="list-group-item">
              <%= link_to item.title, item %> <span class="text-danger small-text"><%= item.deadline.stamp('1 March') %></span> <span class="small-text text-muted"><%= item.project.name %></span>
            </li>
        <% end %>
    </ul>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Сегодня</div>
    <% if @list_days[0] %>
        <ul class="list-group">
      <% @list_days[0].each do |item| %>
          <li class="list-group-item">
            <%=link_to item.title, item %> <span class="small-text text-muted"><%= item.project.name %></span>
          </li>
      <% end %>
        </ul>
    <% end %>
  </div>
 </div>
<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Завтра</div>
    <% if @list_days[1] %>
        <ul class="list-group">
        <% @list_days[1].each do |item| %>
            <li class="list-group-item">
                <%=link_to item.title, item %> <span class="small-text text-muted"><%= item.project.name %></span>
            </li>
        <% end %>
        </ul>
    <% end %>
  </div>
</div>
<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">Ближайшие задачи</div>
    <ul class="list-group">
    <% @list_days[2].each do |item| %>
          <li class="list-group-item"><%= link_to item.title, item %> <span class="small-text"><%= item.deadline.stamp("1 March") %></span> <span class="small-text text-muted"><%= item.project.name %></span></li>
    <% end %>
    </ul>
  </div>
</div>
    </div>