<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Проект' %><br />
    <% project_id = @task.project_id %>
    <% if params[:project_id] %>
    <% project_id = params[:project_id].to_i %>
    <% end %>
    <%= select_tag('task[project_id]', options_for_select(getSelectProjectList(), project_id)) %>
  </div>
  <%= hidden_field_tag('task[owner_id]', session[:user_id]) %>
  <div class="field users">
    <%= f.label 'Исполнители' %><br />
    <% @users.each do |user| %>
    <% checked = false %>
    <% if @task.users.find_by_id(user.id) %>
      <% checked = true %> 
    <% end %>
    <%= check_box_tag('users[]', user.id, checked) %>
    <%= user.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Подробное описание' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field" id="subtasks_field">
    <%= label_tag('subtask_title', 'Подзадачи') %> <br />
    <div class="subtask_item_box">
    <% if @task.subtasks.any? %>
      <% @task.subtasks.each do |subtask| %>
        <div class="subtask_item">
          <%= text_field_tag('subtask_title[]', subtask.title) %>
          
        </div>
        <div class="delete_subtask">Удалить</div>
        <div style="clear:both;"></div>
      <% end %>
    <% end %>
    <%= text_field_tag('subtask_title[]') %>
    <div style="clear:both;"></div>
    </div>
    
    <div id="add_new_subtask">Добавить</div>
  </div>
  <div class="actions">
    <%= f.submit %>
    <div class="button_back"><%= link_to 'Назад', feed_path %></div>
  </div>
<% end %>
