<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, 'error') %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Проект</span>
      <% project_id = @task.project_id %>
      <% if params[:project_id] %>
      <% project_id = params[:project_id].to_i %>
      <% end %>
      <%= select_tag('task[project_id]', options_for_select(getSelectProjectList(), project_id), class: 'form-control', :onchange => 'update_stages(this.value)', :prompt => 'Select project') %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Стадия</span>
      <div id="stages_box"><%= render :partial => 'stages', :object => @stages, class: 'form-control' %></div>
    </div>
  </div>
  <%= hidden_field_tag('task[owner_id]', session[:user_id]) %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Исполнитель</span>
      <% performer_id = @task.performer_id %>
      <%= select_tag('task[performer_id]', options_for_select(getSelectUsersList(), performer_id), class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Срок сдачи</span>
      <%= f.datepicker 'deadline', :dateFormat => 'yy-mm-dd', class: 'form-control' %>
      <!-- TODO: Понять как выставлять изначально формат даты -->
      <!-- TODO: Вернуть время на место -->
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Название</span>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Подробное<br />описание</span>
      <%= f.text_area :content, size: ("10x5"), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" id="subtasks_field">
    <div class="input-group">
      <span class="input-group-addon">Подзадачи</span>
      <div class="form-control">
        <% if @task.subtasks.any? %>
          <% @task.subtasks.each do |subtask| %>
            <div class="subtask_item_<%= subtask.id %>">
              <%= label_tag('subtask_title', subtask.title) %>
              <div class="btn btn-warning" id="<%= subtask.id %>">Редактировать</div>
              <div class="btn btn-danger" id="<%= subtask.id %>">Удалить</div>
            </div>
            <div style="clear:both;"></div>
          <% end %>
        <% end %>
        <a data-toggle="modal" href="#myModal" class="btn btn-default btn-lg">Добавить подзадачу</a>
      </div>

      <div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Добавить подзадачу</h4>
            </div>
            <div class="modal-body">
              <input id="add_subtask_field" type="text" name="subtask['title']" placeholder="Название">
              <input id="task_id" type="hidden" value="<%=@task.id%>">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="post_subtask_button">Создать</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myEditModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Назад', feed_path, class: 'btn btn-info' %>
  </div>
</fieldset>
<% end %>
