<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= select_tag(:project_id, options_for_select(getSelectProjectList())) %>
  </div>
  <%= hidden_field_tag('task[owner_id]', session[:user_id]) %>
  <div class="field">
    <%= f.label :performer_id %><br />
    <%= f.number_field :performer_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.datetime_select :publish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
