<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Редактировать подзадачу</h4>
</div>
<div class="modal-body">
  <%= form_tag( 'update', remote: 'true' ) do %>
  <%= text_field_tag("subtask['title']", @item.title, id: 'add_subtask_field') %>
  <%= hidden_field_tag("subtask['task_id']", @item.task_id) %>
  <%= hidden_field_tag('id', @item.id) %>
</div>
<div class="modal-footer">
  <%= submit_tag('Создать', class: 'btn btn-primary') %>
</div>
  <% end %>