<div class="page-header">
  <h2><%= @task.title %> <small><%= @task.project.name %></small></h2>
</div>

<div class="field_wrapper">
  <div class="field_title">
    Исполнитель
  </div>
  <div class="field_content">
    <%= @task.user.name %>
  </div>
</div>

<div class="field_wrapper">
  <div class="field_title">Описание:</div>
  <div class="field_content"><%= @task.content %></div>
</div>

<div class="field_wrapper">
  <div class="field_title">Подзадачи</div>
  <div class="field_content">
    <div class="subtask_box">
      <% @task.subtasks.each do |subtask| %>
          <% checked = false %>
          <% unless subtask.active %>
              <% checked = true %>
          <% end %>
          <div class="subtask_item"><%= check_box_tag(subtask.id, subtask.id, checked) %><%= label_tag(subtask.id, subtask.title) %></div>
      <% end %>
    </div>
  </div>
</div>

<% if @task.owner_id == session[:user_id] %>
<%= link_to 'Редактировать', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Назад', feed_path %> | <%= link_to 'Готово', "/tasks/complete/#{@task.id}" %> | <%= link_to 'Удалить', @task, method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="discuss_box">
  <div class="messages_list">
    <% @task.discussions.each do |message| %>
        <div class="item">
          <div class="user_name"><%= message.user.name %></div>
          <div class="date"><%= message.create_at %></div>
          <div class="message"><%= message.message %></div>
        </div>
    <% end %>
  </div>
</div>