<p id="notice"><%= notice %></p>
<div class="task_project_name"><%= @task.project.name %> -> <%= @task.title %></div>

<p>
  <b>Исполнители:</b>
  <% @task.users.each do |user| %>
    <p><%= user.name %></p>
  <% end %>
</p>

<p>
  <b>Описание:</b>
  <%= @task.content %>
</p>

<p>
  <b>Active:</b>
  <%= @task.active %>
</p>

<% if @task.owner_id == session[:user_id] %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
