<div id="page_title"><%= @task.title %> (<%= @task.project.name %>)</div>
<div  id="arrow_down"></div>

<div class="field_wrapper">
  <div class="field_title">
    <% if @task.users.count > 1 %>
    Исполнители:
    <% else %>
    Исполнитель
    <% end %>
  </div>
  <div class="field_content">
    <% @task.users.each do |user| %>
    <div class="user_item"><%= user.name %></div>
    <% end %>
  </div>
</div>

<div class="field_wrapper">
  <div class="field_title">Описание:</div>
  <div class="field_content"><%= @task.content %></div>
</div>

<div class="field_wrapper">
  <div class="field_title">Подзадачи</div>
  <div class="field_content">
    <% @task.subtasks.each do |subtask| %>
        <% checked = false %>
        <% unless subtask.active %>
            <% checked = true %>
        <% end %>
        <%= check_box_tag('subtask', subtask.id, checked) %><%= label_tag('subtask', subtask.title) %> <br />
    <% end %>
  </div>
</div>

<div class="discuss_box">
  <div class="messages_list">
    <% @task.discussions.each do |message| %>
    <div class="item">
      <div class="user_name"><%= message.user.name %></div>
      <div class="date"><%= message.create_at %></div>
      <div class="message"><%= message.message %></div>
    </div>
    <% end %>
  </div>
</div>
<% if @task.owner_id == session[:user_id] %>
<%= link_to 'Редактировать', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Назад', tasks_path %>