<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Название проекта</span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Пользователи в проекте</span>
        <div class="form-control">
          <%= f.text_field :user_tokens, 'data-pre' => @project.users.map(&:attributes).to_json, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Стадии проекта</span>
        <div class="form-control">

        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-success' %> <%= link_to 'Назад', projects_path, class: 'btn btn-info' %></div>
    </div>
    <%= hidden_field_tag('project[owner_id]', session[:user_id]) %>
  </fieldset>
<% end %>
