<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название проекта' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="users">
    <%= label_tag 'Пользователи в проекте' %><br />
    <% @users.each do |user| %>
    <% checked = false %>
    <% if @project.users.find_by_id(user.id) %>
      <% checked = true %> 
    <% end %>
    <%= check_box_tag('users[]', user.id, checked) %>
    <%= user.login %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %> <div class="button_back"><%= link_to 'Назад', projects_path %></div>
  </div>
  <%= hidden_field_tag('project[owner_id]', session[:user_id]) %>
<% end %>
