<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Название проекта</span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Пользователи в проекте</span>
        <div class="form-control">
          <%= f.text_field :user_tokens, 'data-pre' => @project.users.map(&:attributes).to_json, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Стадии проекта</span>
        <div class="form-control">
          <% if @project.stages.any? %>
            <% @project.stages.each do |stage| %>
              <div class="stages_item_<%=stage.id%>">
                <%= label_tag('stages_title', stage.title) %>
                <div class="btn btn-warning" id="<%= stage.id %>">Редактировать</div>
                <div class="btn btn-danger" id="<%= stage.id %>">Удалить</div>
              </div>
            <% end %>
          <% end %>
          <div class="btn btn-success" id="add_stage_button">Добавить стадию</div>
        </div>
      </div>
      <div class="add_stage_form">
        <input id="add_stages_field" type="text" name="stage['title']" placeholder="Название">
        <div class="btn btn-success" id="post_stage_button">Создать</div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-success' %> <%= link_to 'Назад', projects_path, class: 'btn btn-info' %></div>
    </div>
    <%= hidden_field_tag('project[owner_id]', session[:user_id]) %>
  </fieldset>
<% end %>
