<div class="row grid"><%= link_to 'Новый проект', new_project_path, class: 'btn btn-success' %></div>
<div class="row">
  <div class="container">
    <table class="table table-hover">
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %> | Выполнено: <%=inactiveTaskCount(project.id)%> из <%=TaskCount(project.id)%></td>
          <td class="text-center">
            <% if project.owner_id == @user_id %>
              <%= link_to 'Редактировать', edit_project_path(project), class: 'btn btn-warning' %> <%= link_to 'Удалить', project, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-lg-12 alert alert-info">
      <%= link_to project.name, project, class: 'alert-link' %> | Выполнено: <%=inactiveTaskCount(project.id)%> из <%=TaskCount(project.id)%>
    </div>
    <% project.stages.each do |stage| %>
      <div class="col-lg-11 col-lg-offset-1 well well-sm">
        <%= stage.title %>
      </div>
      <% stage.tasks.each do |task| %>
        <div class="col-lg-10 col-lg-offset-2 well well-sm">
          <%= task.title %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% @projects.each do |project| %>
    <div class="panel panel-primary">
      <div class="panel-heading"><%= project.name %></div>
      <% project.stages.each do |stage| %>
        <div class="panel panel-info">
          <div class="panel-heading"><%= stage.title %></div>
          <% stage.tasks.each do |task| %>
            <ul class="list-group">
              <li class="list-group-item"><%= task.title %></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>