<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MyApp</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
          <li><a href="/projects"><span class="glyphicon glyphicon-list-alt"></span> Проекты</a></li>
          <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Пользователи</a></li>
          <li>
            <a href="/tasks/check"><span class="glyphicon glyphicon-ok-sign"></span> Задачи <span class="badge"><%= check_task_count() %></span></a>
          </li>
        </ul>
        <div class="navbar-text pull-right">
          <%= current_user() %>
          <%= link_to 'Выйти', login_url, method: :delete %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>