<!DOCTYPE html>
<html>
<head>
  <title>MyApp - Login</title>
  <%= stylesheet_link_tag    "login", :media => "all" %>
  <%= javascript_include_tag "login" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:error] %>
<div class="error-message"><%= flash[:error] %></div>
  <% end %>
<div id="wrapper">
  <%= yield %>
</div>
<div id="footer"></div>
</body>
</html>
